<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="TextEditor" class="p2.TextEditor" lazy-init="default">
    <constructor-arg ref="SpellCheck"></constructor-arg>
    </bean>
    <bean id="SpellCheck" class="p2.SpellChecker" lazy-init="true">

    </bean>
</beans>
